.post {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
  max-width: 300px;
  margin: 16px;
}

.post.-add-post {
  align-items: center;
  justify-content: center;
}

.post-score {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 36px;
  border-width: 1px;
  border-style: solid;
  border-color: #3C3C3C;
  left: -12px;
  top: -12px;
  font-size: 24px;
  background: #D5D9B4;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #3C3C3C;
}

.post-image {
  height: 200px;
  border-radius: 3px 3px 0 0;
  background-size: cover;
  background-position: center;
}

.post-image:hover {
  cursor: pointer;
}

.post-below-image {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #E1E8ED;
  border-radius: 0 0 3px 3px;
  background: white;
  padding: 4px;
}

.post-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-tags {
  margin-top: 8px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-expand {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 4px;
  color: #5C7080;
}

.post-expand-button:hover {
  cursor: pointer;
  color: #394B59;
}

.restaurant-name {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  align-self: flex-start;
  color: #394B59;
}

.restaurant-name:hover {
  cursor: pointer;
}

.location {
  padding: 2px;
  margin: 2px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #738694;
}

.location:hover {
  color: gray;
  cursor: pointer;
}

.tag {
  background: #E1E8ED;
  padding: 2px;
  margin: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #CED9E0;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  color: #5C7080;
}

.tag:hover {
  background: #CED9E0;
  color: #5C7080;
  cursor: pointer;
}

.post-description-button {
  margin-right: 8px;
  margin-top: 4px;
  height: 12px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 60px;
}

.post-form-submit {
  margin-right: 8px;
}

.post-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  bottom: 16px;
  width: calc(80%);
  max-height: calc(90%);
  left: 0; 
  right: 0; 
  overflow-y: scroll;
  margin-left: auto; 
  margin-right: auto;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #8A9BA8;
  padding: 8px;
  background: #F5F8FA;
}

.post-details-close {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #5C7080;
}

.post-details-close:hover {
  cursor: pointer;
  color: #394B59;
}

.restaurant-section {
  width: 200px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.instagram-section {
  width: 200px;
  margin-right: 24px;
  margin-bottom: 8px;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 8px;
}

.details-restaurant-name {
  font-size: 36px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #394B59;
}

.details-location {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #738694;
  margin-bottom: 8px;
}

.details-address {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #738694;
}

.details-order {
  margin-top: 16px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #394B59;
}

.details-ordered-items {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #738694;
}

.details-cost {
  font-family: 'Open Sans', sans-serif;
  color: #738694;
}

.instagram-iframe {
  width: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: #8A9BA8;
}

.review-title-row {
  display: flex;
  flex-direction: row;
  margin: 0 8px;
  justify-content: center;
}

.review-title {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #5C7080;
}

.review-title-spacer {
  width: 150px;
  height: 1px;
  margin: 12px 8px 0 8px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #CED9E0;
}

.review-content-row {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.review-quote {
  width: 140px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #5C7080;
}

.review-quote.-left {
  text-align: right;
}

.review-quote-icon {
  margin-right: 4px;
}

.review-scores {
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.review-score-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 8px 8px;
}

.review-score-row.-overall {
  font-weight: 700;
}

.review-score {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #5C7080;
}

.review-score-type {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #5C7080;
}

.post-score.review-overall-score {
  position: relative;
  align-self: center;
  margin-top: 16px;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 520px) {
  .reviews-section {
    width: 300px;
  }

  .review-scores {
    min-width: 100px;
  }

  .review-score-row {
    margin: 0 16px 8px 16px;
  }
}
