.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
}

.post-image {
  background: gray;
  height: 240px;
  border-radius: 3px 3px 0 0;
}

.post-description {
  display: flex;
  flex-direction: row;
  border-width: 0 1px;
  border-style: solid;
  border-color: black;
}

.post-reviews {
  display: flex;
  flex-direction: row;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: black;
  border-radius: 0 0 3px 3px;
}

.score {
  height: 108px;
  width: 108px;
  text-align:  center;
  padding-top: 4px;
  padding-right: 1px;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 48px;
  color: #3C3C3C;
}

.details {
  display: flex;
  flex-direction: column;
}

.restaurant-name {
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  align-self: flex-start;
  color: #3C3C3C;
}

.post-description-button {
  margin-left: 8px;
  height: 12px;
}

.post-subtitle {
  display: flex;
  flex-direction: row;
}

.location {
  padding: 2px;
  margin: 2px;
  color: #3C3C3C;
}

.location:hover {
  color: gray;
  cursor: pointer;
}

.tag {
  background: #E4F9C7;
  padding: 2px;
  margin: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #3C3C3C;
  border-radius: 3px;
  color: ##3C3C3C;
}

.tag:hover {
  background: #7df9ff;
  color: #3C3C3C;
  cursor: pointer;
}

.tags {
  margin-top: 4px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 60px;
}

.post-form-submit {
  margin-right: 8px;
}

.location-marker {
  color: #707070;
}

@media only screen and (max-width: 889px) {
  .restaurant-name {
    font-size: 28px;
  }
}
