.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.admin-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-add-post-button {
  width: 140px;
}

.admin-overview-post-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  margin-top: 16px;
  padding: 8px;
  border: 1px;
  border-style: solid;
  border-color: #BFCCD6;
  border-radius: 3px;
}

.admin-overview-post-grouping {
  display: flex;
  flex-direction: row;
}

.admin-overview-post-complete {
  color: #238C2C;
}

.admin-overview-post-incomplete {
  color: #B83211;
}

.admin-overview-post-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  font-size: 12px;
}

.admin-overview-post-name {
  font-size: 14px;
}

.admin-overview-row-button {
  margin-left: 8px;
  width: 90px;
}
