/*
white: #F5F5F5, #DCDCDC, #C4C4C4
terracotta: #945D60, #764A4C
herb: #626E60, #4E584C
chili: #AF473C, #8C3830
charcoal: #3C3C3C
*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #7df9ff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 20px;
  color: #3C3C3C;
  margin-bottom: 8px;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40px;
  margin-right: 12px;
  cursor: pointer;
}

.title {
  margin-top: 8px;
  font-size: 2em;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
}

.content {
  width: calc(80%);
  font-size: large;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.react-datepicker__time-list {
  -webkit-padding-start: 0px;
  padding-right: 0px;
}

.easterEgg {
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
  font-size: 8px;
  opacity: 0;
  height: 16px;
}

.easterEgg:hover {
  opacity: 100;
  cursor: pointer;
}
