@import "./auth/Auth.css";
@import "./form/FormField.css";
@import "./post/Post.css";
@import "./review/Review.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Quattrocento');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  height: 150px;
  padding: 20px;
  color: #3C3C3C;
  margin-bottom: 8px;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40px;
  margin-right: 12px;
  cursor: pointer;
}

.title {
  margin-top: 8px;
  font-size: 2em;
  font-weight: 100;
  font-family: 'Quattrocento', serif;
}

.content {
  width: 90%;
  font-size: large;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.react-datepicker__time-list {
  -webkit-padding-start: 0px;
  padding-right: 0px;
}

.easterEgg {
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
  font-size: 8px;
  opacity: 0;
  height: 16px;
}

.easterEgg:hover {
  opacity: 100;
  cursor: pointer;
}
