.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 120px;
  margin-bottom: 24px;
  padding: 8px;
  border: 1px;
  border-style: solid;
  border-color: #BFCCD6;
  border-radius: 3px;
}

.logged-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.user-greeting {
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: capitalize;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-field {
  width: 280px;
}

.login-form-button {
  width: 100px;
}
